/* Everyone's favorite typefaces! */

.card{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.jumbotron{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-img-top{
  height: 250px;
  width: 80%;
  margin-left: 10%;
}

.card{
 width: 10%;
}

#bottom{
  padding: 0;
}

.card-title{
  margin-left: 10%;
  font-weight: bold;
}

.btn{
  font-family: "papyrus", "Comic Sans MS"
}